@model IDOBusTech.NETTech.Test.ViewModel.RequestModel
@{
    ViewBag.Title = "Home";
}

<div class="jumbotron text-center mt-20">
    <h1>Github Repo </h1>
    <h5>A quick search for top 5 user repos</h5>
</div>

@Html.Partial("_seachform")

